@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --gradient: linear-gradient(
        to right,
        #8B008Ba1,
        #800080b2,
        slateblue,
        darkslateblue
    );
    --h1Font: 'Lobster', cursive;
    --h1Color: white;
}

body{
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: bg-animation 20s ease infinite 2s alternate;
    background-size: 300%;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }

    50%{
        background-position: right;
    }

    100%{
        background-position: left;
    }
}

h1{
    text-align: center;
    font-family: var(--h1Font);
    color: var(--h1Color);
    font-weight: normal;
    text-shadow: 5px 2px 2px brown;
}
